name: iOS CI
on:
  pull_request:
    branches:
    - main
    - chore/swift6-main
  push:
    branches:
    - main

jobs:
  build:
    name: Build
    runs-on: macOS-latest
    steps:
      - name: Load Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/cache@v3
        id: pod-cache
        with:
            path: Pods
            key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
            restore-keys: |
              ${{ runner.os }}-pods-
      - name: Cocoapods
        run: exec pod install
      - name: Build
        run: exec ./.github/scripts/build.sh
      
  test:
    name: Test
    needs: Build
    runs-on: macOS-latest
    steps:
      - name: Load Xcode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - name: Checkout repository
        uses: actions/checkout@v4
      - uses: actions/cache@v3
        id: pod-cache
        with:
            path: Pods
            key: ${{ runner.os }}-pods-${{ hashFiles('**/Podfile.lock') }}
            restore-keys: |
              ${{ runner.os }}-pods-
      - name: Cocoapods
        run: exec pod install
      - name: Testing
        run: exec ./.github/scripts/test.sh

  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v1
        with:
          node-version: '18.x'
      - name: Test Build
        run: |
          cd docs
          if [-e yarn.lock ]; then
          yarn install --frozen-lockfile
          elif [-e package.json ]; then
          npm ci
          else
          npm i
          fi
          npm run build